.header {
  width: 1020px;
  height: 89px;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 6px;
  font-family: "Lato";
  font-weight: 700;
  text-align: left;
  /*ul {
        font-size: 14px;
        line-height: 16px;
        color: 
        #FFFFFF;
        text-decoration: none;
        list-style: none;
    }*/
}

.header .logo {
  font-size: 24px;
  color: #ffffff;
  padding-left: 40px;
  letter-spacing: 0px;
  position: relative;
}

.header .logo .star {
  padding-left: 106px;
  color: #f06c64;
  position: absolute;
  bottom: 0px;
}

.header nav {
  margin-top: 5px;
  padding: 10px;
  font-size: 11px;
  color: #f06c64;
  padding-right: 27px;
}

.header ul li {
  display: inline-block;
  padding: 0 15px;
}

.header ul li:hover {
  color: #cc4a4a;
}

.header ul li a:hover {
  color: #c92f2f;
}

.header ul li a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #fff;
  text-decoration: none;
}

.slider {
  width: 1020px;
  height: 595px;
  background-color: #f06c64;
  border-bottom: 5px solid #ea676b;
  position: relative;
}

.slider .slider_tools {
  position: absolute;
  padding-top: 27.5%;
  padding-left: 4%;
}

.slider .next {
  margin-left: 908px;
  cursor: pointer;
  float: right;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
  cursor: pointer;
}

.slider .next:hover {
  background: #c92626;
}

.slider .prev:hover {
  background: #c92626;
}

.slider .vertical_phone {
  margin-left: 111px;
  margin-top: -15px;
}

.slider .horiz_phone {
  padding-top: 70px;
}

.slider .phone {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (120px)[6];
      grid-template-columns: repeat(6, 120px);
  gap: 240px;
}

.slider .prev {
  float: left;
  cursor: pointer;
}

.services {
  width: 1020px;
  height: 495px;
  background-color: #f2f2f2;
  padding-top: 1px;
  border-bottom: 5px solid white;
}

.services .services_text {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  text-align: left;
  padding-top: 4%;
  margin: 0 4% 0 4%;
  letter-spacing: 0px;
  line-height: 30px;
}

.services .services_text .text {
  color: #767e9e;
  overflow: hidden;
}

.services .services_text h2 {
  letter-spacing: 2px;
}

.services .services_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 315px 323px 315px;
      grid-template-columns: 315px 323px 315px;
  -ms-grid-rows: (124px)[2];
      grid-template-rows: repeat(2, 124px);
  padding-left: 4%;
  letter-spacing: -1px;
  font-size: 16px;
  color: #666d89;
  font-family: "Lato";
}

.services .services_grid .custom_design_service {
  font-size: 16px;
  margin-bottom: 12px;
  letter-spacing: 0;
}

.services .services_grid img {
  float: left;
  border-radius: 50%;
  border: 2px solid #666d89;
  padding: 20%;
  margin-top: 23px;
}

.services .services_grid img:hover {
  cursor: pointer;
}

.services .services_grid .custom_design {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 300px;
      grid-template-columns: 50px 300px;
  gap: 30px;
}

.services .services_grid .custom_design p {
  overflow: hidden;
}

.services .services_grid p {
  letter-spacing: -1px;
  width: 220px;
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
}

.services .services_grid .idea {
  padding-left: 15px;
  padding-right: 15px;
}

.clear {
  clear: both;
}
/*# sourceMappingURL=singolo1.css.map */